* {
    margin: 0;
    padding: 0;
}
header {
    background-color: black;
    color: white;
    height: 100px;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

h4 {
    text-align: center;
    padding: 10px;
}

a {
    color: black;
    text-decoration: none;
}